:root {
    --white:#ffffff;
    --grayUltraLight:#ecf0f1;
    --grayLight:#cccccc;
    --blue:#2F6994;
    --blackBov: #000000;
    --gray:#999;
    --darkGray:#2f3640;
}

body {
    margin: 0;
    padding: 0;
    color: var(--blackBov);
    text-align: left;
    font-family: 'Roboto-Thin', sans-serif;
    font-size: 100%;
    line-height: 1.2;
    background: var(--white);
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

*, ::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: local('Roboto-Bold'), url(../fonts/Roboto-Bold.ttf) format('ttf');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: local('Roboto-Regular'), url(../fonts/Roboto-Regular.ttf) format('ttf');
}
@font-face {
    font-family: 'Roboto-Thin';
    src: local('Roboto-Thin'), url(../fonts/Roboto-Thin.ttf) format('ttf');
}

h1 {
    font-size: clamp(1.5rem, 3vw, 3rem);
    line-height: 1.2;
    text-align: center;
    font-family: 'Roboto-Bold', sans-serif;
}

h2 {
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: 1.2;
    text-align: center;
    font-family: 'Roboto-Bold', sans-serif;
}

h3 {
    font-size: clamp(1.0rem, 1.1vw, 1.5rem);
    line-height: 1.2;
    text-align: center;
}

h4 {
    font-size: clamp(1.4rem, 1.4vw, 2.5rem);
    line-height: 1.2;
}

h5 {
    font-size: clamp(1.5rem, 2vw, 1.5rem);
    line-height: 1.2;
}

p {
    font-size: clamp(0.95rem, 2vw, 1.0rem);
    font-weight: 100;
    line-height: 1.3;
    font-family: 'Roboto-Thin', sans-serif;
}

strong {
    color: var(--blueBov);
    font-weight: bold;
}

button {
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    line-height: 1.5;
    text-decoration: none;
}

footer,
header,
nav,
section {
    display: block;
}

.container, .container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.dflex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.dflex-aligncenter {
    align-items: center;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

button {
    border-radius: 10rem;
    border: none;
    display: block;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    font-size: medium;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btnSearch {
    background: linear-gradient(90deg, #2980b9 0%, #3FCAFC 100%);
    border-radius: 10rem;
    border: none;
    display: block;
    cursor: pointer;
    color: var(--white);
    font-family: sans-serif;
    font-weight: 500;
    line-height: 2.5;
    text-align: center;
    text-transform: uppercase;
    font-size: initial;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}

select {
    border-radius: 1rem;
    line-height: 2;
    padding: 0 1.25rem;
    background-color: var(--gray);
    color: var(--white);
    font-weight: 600;
    margin: 1rem;
    width: 4rem;
    border: none;
    height: 3rem;
    margin: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: sans-serif;
    text-align: center;
    /* background: url() 96% / 15% no-repeat #EEE; */
}

select::-ms-expand {
    display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
}

select:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

@media screen and (min-width:0\0) {
    select {
        background: none\9;
        padding: 5px\9;
    }
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}


.popupboxBackground {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(0 0 0 / 80%);
}

.popupboxMiddle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.popupboxBody svg {
    width: 3rem;
    margin-left: 1rem;
}

.popupboxBody h2 svg {
    color: var(--bovGenetics);
    margin: 0;
}

.popupboxBody__body h3 {
    font-weight: 100;
}

.popupboxBody__body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popupboxbody div svg {
    width: 5rem;
}

.popupboxbody__title h2 {
    font-size: clamp(1.2rem,2vw,2rem);
    color: var(--blackBov);
}

.popupboxbody__body h3 {
    font-size: clamp(0.9rem,1vw,0.9rem);
    color: var(--blackBov);
    font-weight: 100;
}

.popupboxbody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: calc(100vw*.5);
    padding: 1rem;
    border-radius: .25rem;
    animation: bounce 1.5s;
    -webkit-animation: bounce 1.5s;
    -moz-animation: bounce 1.5s;
    -o-animation: bounce 1.5s;
    -ms-animation: bounce 1.5s;
}

/* Animation bounce */

@keyframes bounce {
    0% {
        -webkit-transform: scale3d(0.1,0.1,1);
        box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    }
    55% {
        -webkit-transform: scale3d(1.08,1.08,1);
        box-shadow: 0 10px 20px rgba(0,0,0,0);
    }
    75% {
        -webkit-transform: scale3d(0.95,0.95,1);
        box-shadow: 0 0 20px rgba(0,0,0,0.9);
    }
    100% {
        -webkit-transform: scale3d(1,1,1);
        box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    }
}

@-moz-keyframes bounce {
    0% {
        -webkit-transform: scale3d(0.1,0.1,1);
        box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    }
    55% {
        -webkit-transform: scale3d(1.08,1.08,1);
        box-shadow: 0 10px 20px rgba(0,0,0,0);
    }
    75% {
        -webkit-transform: scale3d(0.95,0.95,1);
        box-shadow: 0 0 20px rgba(0,0,0,0.9);
    }
    100% {
        -webkit-transform: scale3d(1,1,1);
        box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    }
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: scale3d(0.1,0.1,1);
        box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    }
    55% {
        -webkit-transform: scale3d(1.08,1.08,1);
        box-shadow: 0 10px 20px rgba(0,0,0,0);
    }
    75% {
        -webkit-transform: scale3d(0.95,0.95,1);
        box-shadow: 0 0 20px rgba(0,0,0,0.9);
    }
    100% {
        -webkit-transform: scale3d(1,1,1);
        box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    }
}

@-o-keyframes bounce {
    0% {
        -webkit-transform: scale3d(0.1,0.1,1);
        box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    }
    55% {
        -webkit-transform: scale3d(1.08,1.08,1);
        box-shadow: 0 10px 20px rgba(0,0,0,0);
    }
    75% {
        -webkit-transform: scale3d(0.95,0.95,1);
        box-shadow: 0 0 20px rgba(0,0,0,0.9);
    }
    100% {
        -webkit-transform: scale3d(1,1,1);
        box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    }
}

@-ms-keyframes bounce {
    0% {
        -webkit-transform: scale3d(0.1,0.1,1);
        box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    }
    55% {
        -webkit-transform: scale3d(1.08,1.08,1);
        box-shadow: 0 10px 20px rgba(0,0,0,0);
    }
    75% {
        -webkit-transform: scale3d(0.95,0.95,1);
        box-shadow: 0 0 20px rgba(0,0,0,0.9);
    }
    100% {
        -webkit-transform: scale3d(1,1,1);
        box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    }
}

.f-modal-alert .f-modal-icon {
    border-radius: 50%;
    border: 4px solid gray;
    box-sizing: content-box;
    height: 80px;
    margin: 20px auto;
    padding: 0;
    position: relative;
    width: 80px;
}

.f-modal-alert .f-modal-icon.f-modal-success, .f-modal-alert .f-modal-icon.f-modal-error {
    border-color: #a5dc86;
}

.f-modal-alert .f-modal-icon.f-modal-success:after, .f-modal-alert .f-modal-icon.f-modal-error:after, .f-modal-alert .f-modal-icon.f-modal-success:before, .f-modal-alert .f-modal-icon.f-modal-error:before {
    /* background: #fff; */
    content: '';
    height: 120px;
    position: absolute;
    transform: rotate(45deg);
    width: 60px;
}

.f-modal-alert .f-modal-icon.f-modal-success:before, .f-modal-alert .f-modal-icon.f-modal-error:before {
    border-radius: 120px 0 0 120px;
    left: -33px;
    top: -7px;
    transform-origin: 60px 60px;
    transform: rotate(-45deg);
}

.f-modal-alert .f-modal-icon.f-modal-success:after, .f-modal-alert .f-modal-icon.f-modal-error:after {
    border-radius: 0 120px 120px 0;
    left: 30px;
    top: -11px;
    transform-origin: 0 60px;
    transform: rotate(-45deg);
}

.f-modal-alert .f-modal-icon.f-modal-success .f-modal-placeholder, .f-modal-alert .f-modal-icon.f-modal-error .f-modal-placeholder {
    border-radius: 50%;
    border: 4px solid rgba(165, 220, 134, .2);
    box-sizing: content-box;
    height: 80px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 80px;
    z-index: 2;
}

.f-modal-alert .f-modal-icon.f-modal-success .f-modal-fix, .f-modal-alert .f-modal-icon.f-modal-error .f-modal-fix {
    /* background-color: #fff; */
    height: 90px;
    left: 28px;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 5px;
    z-index: 1;
}

.f-modal-alert .f-modal-icon.f-modal-success .f-modal-line, .f-modal-alert .f-modal-icon.f-modal-error .f-modal-line {
    background-color: #a5dc86;
    border-radius: 2px;
    display: block;
    height: 5px;
    position: absolute;
    z-index: 2;
}

.f-modal-alert .f-modal-icon.f-modal-success .f-modal-line.f-modal-tip, .f-modal-alert .f-modal-icon.f-modal-error .f-modal-line.f-modal-tip {
    left: 14px;
    top: 46px;
    transform: rotate(45deg);
    width: 25px;
}

.f-modal-alert .f-modal-icon.f-modal-success .f-modal-line.f-modal-long, .f-modal-alert .f-modal-icon.f-modal-error .f-modal-line.f-modal-long {
    right: 8px;
    top: 38px;
    transform: rotate(-45deg);
    width: 47px;
}

.f-modal-alert .f-modal-icon.f-modal-error {
    border-color: #f27474;
}

.f-modal-alert .f-modal-icon.f-modal-error .f-modal-x-mark {
    display: block;
    position: relative;
    z-index: 2;
}

.f-modal-alert .f-modal-icon.f-modal-error .f-modal-placeholder {
    border: 4px solid rgba(200, 0, 0, .2);
}

.f-modal-alert .f-modal-icon.f-modal-error .f-modal-line {
    background-color: #f27474;
    top: 37px;
    width: 47px;
}

.f-modal-alert .f-modal-icon.f-modal-error .f-modal-line.f-modal-left {
    left: 17px;
    transform: rotate(45deg);
}

.f-modal-alert .f-modal-icon.f-modal-error .f-modal-line.f-modal-right {
    right: 16px;
    transform: rotate(-45deg);
}

.f-modal-alert .f-modal-icon.f-modal-warning {
    border-color: #f8bb86;
}

.f-modal-alert .f-modal-icon.f-modal-warning:before {
    animation: pulseWarning 2s linear infinite;
    /* background-color: #fff; */
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
}

.f-modal-alert .f-modal-icon.f-modal-warning:after {
    /* background-color: #fff; */
    border-radius: 50%;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.f-modal-alert .f-modal-icon.f-modal-warning .f-modal-body {
    background-color: #f8bb86;
    border-radius: 2px;
    height: 47px;
    left: 50%;
    margin-left: -2px;
    position: absolute;
    top: 10px;
    width: 5px;
    z-index: 2;
}

.f-modal-alert .f-modal-icon.f-modal-warning .f-modal-dot {
    background-color: #f8bb86;
    border-radius: 50%;
    bottom: 10px;
    height: 7px;
    left: 50%;
    margin-left: -3px;
    position: absolute;
    width: 7px;
    z-index: 2;
}

.f-modal-alert .f-modal-icon + .f-modal-icon {
    margin-top: 50px;
}

.animateSuccessTip {
    animation: animateSuccessTip 0.75s;
}

.animateSuccessLong {
    animation: animateSuccessLong 0.75s;
}

.f-modal-icon.f-modal-success.animate:after {
    animation: rotatePlaceholder 4.25s ease-in;
}

.f-modal-icon.f-modal-error.animate:after {
    animation: rotatePlaceholder 4.25s ease-in;
}

.animateErrorIcon {
    animation: animateErrorIcon 0.5s;
}

.animateXLeft {
    animation: animateXLeft 0.75s;
}

.animateXRight {
    animation: animateXRight 0.75s;
}

.scaleWarning {
    animation: scaleWarning 0.75s infinite alternate;
}

.pulseWarningIns {
    animation: pulseWarningIns 0.75s infinite alternate;
}

@keyframes animateSuccessTip {
    0%, 54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes animateSuccessLong {
    0%, 65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

@keyframes rotatePlaceholder {
    0%, 5% {
        transform: rotate(-45deg);
    }
    100%, 12% {
        transform: rotate(-405deg);
    }
}

@keyframes animateErrorIcon {
    0% {
        transform: rotateX(100deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        opacity: 1;
    }
}

@keyframes animateXLeft {
    0%, 65% {
        left: 82px;
        top: 95px;
        width: 0;
    }
    84% {
        left: 14px;
        top: 33px;
        width: 47px;
    }
    100% {
        left: 17px;
        top: 37px;
        width: 47px;
    }
}

@keyframes animateXRight {
    0%, 65% {
        right: 82px;
        top: 95px;
        width: 0;
    }
    84% {
        right: 14px;
        top: 33px;
        width: 47px;
    }
    100% {
        right: 16px;
        top: 37px;
        width: 47px;
    }
}

@keyframes scaleWarning {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pulseWarning {
    0% {
        background-color: #fff;
        transform: scale(1);
        opacity: 0.5;
    }
    30% {
        background-color: #fff;
        transform: scale(1);
        opacity: 0.5;
    }
    100% {
        background-color: #f8bb86;
        transform: scale(2);
        opacity: 0;
    }
    }
    @keyframes pulseWarningIns {
    0% {
        background-color: #f8d486;
    }
    100% {
        background-color: #f8bb86;
    }
}