:root {
    --white:#ffffff;
    --grayUltraLight:#ecf0f1;
    --grayLight:#cccccc;
    --bovControl:#46A0CD;
    --bovDairy:#3FCAFC;
    --bovGenetics:#2F6994;
    --blackBov: #000000;
    --grayBov:#999;
    --darkGray:#2f3640;
    --bovData: #444444;
    --bovImpact:#62942F;
    --bovBeef:#863944;
}

body {
    margin: 0;
    padding: 0;
    color: var(--blackBov);
    text-align: left;
    font-family: 'Roboto-Thin', sans-serif;
    font-size: 100%;
    line-height: 1.2;
    background: var(--white);
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

*, ::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: local('Roboto-Bold'), url(../fonts/Roboto-Bold.ttf) format('ttf');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: local('Roboto-Regular'), url(../fonts/Roboto-Regular.ttf) format('ttf');
}
@font-face {
    font-family: 'Roboto-Thin';
    src: local('Roboto-Thin'), url(../fonts/Roboto-Thin.ttf) format('ttf');
}

h1 {
    font-size: clamp(1.5rem, 3vw, 3rem);
    line-height: 1.2;
    text-align: center;
    font-family: 'Roboto-Bold', sans-serif;
}

h2 {
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: 1.2;
    text-align: center;
    font-family: 'Roboto-Bold', sans-serif;
}

h3 {
    font-size: clamp(1.0rem, 1.1vw, 1.5rem);
    line-height: 1.2;
    text-align: center;
}

h4 {
    font-size: clamp(1.4rem, 1.4vw, 2.5rem);
    line-height: 1.2;
}

h5 {
    font-size: clamp(1.5rem, 2vw, 1.5rem);
    line-height: 1.2;
}

p {
    font-size: clamp(0.95rem, 2vw, 1.0rem);
    font-weight: 100;
    line-height: 1.3;
}

strong {
    color: var(--blueBov);
    font-weight: bold;
}

button {
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    line-height: 1.5;
    text-decoration: none;
}

footer,
header,
nav,
section {
    display: block;
}
